[Unit]
Description=gatonaranja Telegram bot

[Service]
Type=simple
EnvironmentFile=%h/.config/gatonaranja/gatonaranja.env
ExecStart=%h/.local/bin/gatonaranja
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
